<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
</head>

<body>
<form th:method="PATCH" th:action="@{edit(id=${user.getId()})}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name">
    <br />
    <label for="name">Level:</label>
    <input type="text" th:field="*{level}" id="level">
    <br />
    <label for="name">Money:</label>
    <input type="text" th:field="*{money}" id="money">
    <br />
    <label for="name">Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <br />
    <div class="form-group row">
        <label class="col-4 col-form-label">Roles: </label>
        <div class="col-8">
            <th:block th:each="role: ${roleList}">
                <input type="checkbox" th:field="*{roles}"
                       th:text="${role.role}" th:value="${role.id}" class="m-2" />
            </th:block>
        </div>
    </div>
    <br />
    <input type="submit" value="Ok">
</form>
</body>
</html>


